:root {
  font-family: 'Inter', sans-serif;
  font-size: 62.5%; // 1rem => 10px 

  
  @supports (font-variation-settings: normal) {
    html {
      font-family: 'Inter var', sans-serif;
      
    }
  }
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-size: calc(1rem + 0.5vw); 
  line-height: 1.5;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.banner {
  position: fixed;
  left: 0; top: 0; right: 0;
  z-index: 10;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  padding-top: 0.4em;

  a {
    display: inline-block;
    color: #fff;
    padding: 1ex;
    font-weight: 600;
  }
} 

.navigation {
  display: inline-block;
}

.design-width {
  max-width: 100rem;
  margin: 0 auto; // centers the content
}

.artwork {
  overflow: hidden;
  position: relative;
  height: 75vh;
  background: linear-gradient(#170c3a 70%, #36167A);

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -3rem;
    z-index: 5;
    img {
      width: 14rem;
    }
  }

  &__title {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
    //background: linear-gradient(to bottom, rgba(244, 216, 244, 1) 0%, rgba(226, 216, 241, 1) 50%, rgba(106, 76, 120, 1) 51%, rgba(195, 136, 188, 1) 100%);
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
    text-shadow: 0 0 4px #fff;
  }

  &__sub {
    font-family: 'Pinyon Script', cursive;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    margin-top: 1.9rem;
    color: #f399d9;
    text-shadow: 1px 0 0 #ee55c9,
    -1px 0 0 #ee55c9,
    0 1px 0 #ee55c9,
    0 -1px 0 #ee55c9,
    1px 1px 0 #ee55c9,
    -1px -1px .5em #ee55c9,
    1px -1px 1em #ee55c9,
    -1px 1px 1em #ee55c9;
    transform: translate(-50%, -50%) rotate(-1.7deg);
    transform-origin: center center;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25rem;
    height: 25rem;
    background: linear-gradient(#f2ec4f, #c81548);

    border-radius: 50%;
    transform: scale(.9) translate(-50%, -50%);
    filter: blur(50px);
    opacity: .8;
  }

  &::before {
    content: '';
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50%;
    background: linear-gradient(transparent, rgba(purple,.6));
  }

  &__sun {
    position: absolute;
    top: 50%;
    left: 50%;
    background: linear-gradient(#f2ec4f, #c81548);
    transform: translate(-50%, -50%);

    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;

    i {
      width: 100%;
      background: #170c3a;
      position: absolute;
      bottom: 0;
      height: 1rem;
      animation: sunbeam 5s ease-in infinite both;
      box-shadow: 0 0 1em 0 #170c3a;

      &:nth-child(1) {
        animation-delay: -5s;
      }

      &:nth-child(2) {
        animation-delay: -4.5s;
      }

      &:nth-child(3) {
        animation-delay: -4s;
      }

      &:nth-child(4) {
        animation-delay: -3.5s;
      }

      &:nth-child(5) {
        animation-delay: -3s;
      }

      &:nth-child(6) {
        animation-delay: -2.5s;
      }

      &:nth-child(7) {
        animation-delay: -2s;
      }

      &:nth-child(8) {
        animation-delay: -1.5s;
      }

      &:nth-child(9) {
        animation-delay: -1s;
      }

      &:nth-child(10) {
        animation-delay: -0.5s;
      }
    }
  }
}

.floor {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  
  i {
    width: 100%;
    background: rgba(87, 193, 232, 0.35);
    position: absolute;
    bottom: 0;
    height: .5rem;
    animation: sunbeam 10s ease-out infinite both;
    box-shadow: 0 0 .1em 0 rgba(#fff,.75);

      &:nth-child(1) {
        animation-delay: -10s;
      }

      &:nth-child(2) {
        animation-delay: -9s;
      }

      &:nth-child(3) {
        animation-delay: -8s;
      }

      &:nth-child(4) {
        animation-delay: -7s;
      }

      &:nth-child(5) {
        animation-delay: -6s;
      }

      &:nth-child(6) {
        animation-delay: -5s;
      }

      &:nth-child(7) {
        animation-delay: -4s;
      }

      &:nth-child(8) {
        animation-delay: -3s;
      }

      &:nth-child(9) {
        animation-delay: -2s;
      }

      &:nth-child(10) {
        animation-delay: -1s;
      }
  }
}

@keyframes sunbeam {
  from {
    transform: translateY(2vw) scaleY(1);
    opacity: 1;
  }

  to {
    transform: translateY(-14vw) scaleY(.2);
    opacity: 0;
  }

  75% {
    opacity: .8;
  }
}

.grid-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0px;
  perspective: 150px;
}

.grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 80%;
  transform: rotateX(45deg);
  margin-top: 1vw;
}

.line {
  position: absolute;
  background: rgba(87, 193, 232, 0.35);
}

.vertical .line {
  top: 0;
  left: 0;
  bottom: 0;
  width: .5rem;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(87, 193, 232, 0.35));

  &:nth-child(1) {
    left: 10%;
  }

  &:nth-child(2) {
    left: 20%;
  }

  &:nth-child(3) {
    left: 30%;
  }

  &:nth-child(4) {
    left: 40%;
  }

  &:nth-child(5) {
    left: 50%;
  }

  &:nth-child(6) {
    left: 60%;
  }

  &:nth-child(7) {
    left: 70%;
  }

  &:nth-child(8) {
    left: 80%;
  }

  &:nth-child(9) {
    left: 90%;
  }

  &:nth-child(10) {
    left: 100%;
    margin-left: -1px;
  }
}

.horizontal .line {
  top: 0;
  left: 0;
  right: 0;
  height: .5rem;
  z-index: 2;

  &:nth-child(1) {
    top: 10%;
    opacity: 0.2;
  }

  &:nth-child(2) {
    top: 20%;
    opacity: 0.3;
  }

  &:nth-child(3) {
    top: 30%;
    opacity: 0.4;
  }

  &:nth-child(4) {
    top: 40%;
    opacity: 0.5;
  }

  &:nth-child(5) {
    top: 50%;
    opacity: 0.6;
  }

  &:nth-child(6) {
    top: 60%;
    opacity: 0.7;
  }

  &:nth-child(7) {
    top: 70%;
    opacity: 0.8;
  }

  &:nth-child(8) {
    top: 80%;
    opacity: 0.9;
  }

  &:nth-child(9) {
    top: 90%;
    opacity: 0.95;
  }

  &:nth-child(10) {
    top: 100%;
    margin-top: -1px;
    opacity: 1;
  }

  &:nth-child(11) {
    opacity: 0.05;
  }
}

.dot {
  position: absolute;
  background: #57C1E8;
  width: .5rem;
  height: .5rem;
  top: 100%;
  border-radius: .5rem;
  box-shadow: 0 0 3px #fff;
  -webkit-backface-visibility: hidden;

  &:nth-child(1) {
    left: 10%;
    animation: moveDot 5s infinite;
  }

  &:nth-child(2) {
    left: 20%;
    animation: moveDot 20s infinite;
  }

  &:nth-child(3) {
    left: 30%;
    animation: moveDot 15s infinite;
  }

  &:nth-child(4) {
    left: 50%;
    animation: moveDot 30s infinite;
  }

  &:nth-child(5) {
    left: 60%;
    animation: moveDot 12s infinite;
  }

  &:nth-child(6) {
    left: 80%;
    animation: moveDot 6s infinite;
  }

  &:nth-child(7) {
    left: 90%;
    animation: moveDot 8s infinite;
  }
}

@keyframes moveDot {
  0% {
    top: 100%;
    opacity: 1;
  }

  100% {
    top: 0%;
    opacity: 0;
  }
}

.crt {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 1rem;
  background-image:
  repeating-linear-gradient(transparent 0,
    rgba(0, 0, 0, .2) 3px,
    transparent 6px),
    url(crt.png);
  background-blend-mode: overlay;
  ;
  background-size: 100% 100%;
  width: 90rem;
  height: 62rem;
  transform: translate(calc(-50% + 4rem), -50%) scale(.5);
  &::after {
    content: '';
    position: absolute;
    top: 8rem;
    left: 8rem;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 14% 20%, rgba(255, 255, 255, .7), rgba(255, 255, 255, .0) 25%)
  }
}

.consoles {
  display: none;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 75vh;

  >* {
    position: absolute;
    transform: translate(-50%, -50%);
  }

  &__ps1 {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.8);
  }

  &__amigacd {
    top: 90%;
    left: 68%;
    transform: translate(-50%, -50%) scale(1);
  }

  &__atari2600 {
    top: 90%;
    left: 32.5%;
    transform: translate(-50%, -50%) scale(1.1);
  }

  &__jaguar {
    top: 55%;
    left: 28.5%;
    transform: translate(-50%, -50%) scale(.9);
  }
}

.logos {
  z-index: 3;
  position: absolute;
  bottom: 4rem;
  left: 0;
  right: 0;
  overflow: hidden;

  &__inner {
    display: flex;
    img {
      margin: 0 2rem;
    }
    animation: 20s marquee linear infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: backwards;
  }
}

@keyframes marquee {
  100% {
    transform: translateX(-100%);
  }
}

.products {
  display: flex;
  padding: 0 2rem;
}

.product {
  flex: 0 0 33.33%;
  box-sizing: border-box;
  padding: 6rem 2rem;

  h3 {
    margin-top: 0;
  }

  &__img {
    width: 100%;
    padding-top: 140%;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }

    h2 {
      letter-spacing: 0.1ex;
      position: absolute;
      top: 0%;
      font-weight: 900;
      left: 50%;
      transform: translate(-50%, -100%);
      color: #36167A;
      text-shadow: 1px 0 0 #ee55c9,
      -1px 0 0 #ee55c9,
      0 1px 0 #ee55c9,
      0 -1px 0 #ee55c9,
      1px 1px 0 #ee55c9;
      font-size: 3.5rem;
    }
  }
}